<footer class="site-footer">
  <div class="footer-content">
    <div class="brand-info">
      <h3>MUNEVVER Group</h3>
      <p>Crafting timeless elegance with every scent we create.</p>
    </div>

    <!-- <nav class="footer-nav">
      <a routerLink="/products">Products</a>
      <a routerLink="/cart">Cart</a>
      <a routerLink="#">Contact</a>
    </nav> -->

    <!-- <div class="social-icons">
      <a href="#"><img src="assets/facebookk.svg" alt="Facebook" /></a>
      <a href="#"><img src="assets/instagram.avif" alt="Instagram" /></a>
      <a href="#"><img src="assets/twitter-x-logo.png" alt="Twitter" /></a>
    </div> -->
  </div>

  <div class="footer-bottom">
    <p>&copy; {{ currentYear }} Fragrance World. All rights reserved.</p>
  </div>
</footer>